@import "settings";

* {
  box-sizing: border-box;
}

body /deep/ {
  height: 100%;
  font-family: $font-family;

  // paper button
  paper-button {
    text-transform: none !important;
  }

  // fix 100% height
  core-scroll-header-panel {
    height: 100%;

    core-toolbar {
      background-color: $theme-color;
      color: $theme-text-color;

      .logo {
        color: $logo-color;
      }
    }
  }
}

